<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="stylesheets/index.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900|Quicksand:300,400,500,700|Raleway:100,200,300,400,500,700,900|Roboto:100,200,300,400,500" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body style="margin:0">
  <div class="nav-section">
    <nav class="topnav">
      <ul>
        <li><a class="active" id="home" href="#section-top">HOME</a></li>
        <li><a href="#section-projects">PROJECTS</a></li>
        <li><a href="#section-about">ABOUT</a></li>
        <li><a href="#section-resume">RESUME</a></li>
      </ul>
    </nav>
  </div>
  <div id="section-top">
    <div class="portrait">
      <img src="images/jesse_profile.jpeg" alt="">
      <!-- <p style="page-break-after: always;">&nbsp;</p> -->
    </div>
    <p id="name">Jesse Pelzar</p>
    <p id="info">73 Elmtree Lane, NY 11753 | <a href="516-376-2309">516.376.2309</a> | <a href="mailto:subject=feedback">jessepelzar@gmail.com</a></p>
  </div>
  <div id="section-projects">
    <div class="wrap">
      <div class="box">
        <div class="boxInner">
          The FPGA Processor Bot project involved the use of a papilio FPGA platform, the IDE Xilinx ISE, and a Rover 5 chassis. The Idea of the project was to develop a general purpose processor using the FPGA that would be able to accept user inputted instructions measured in direction and distance. The distance entered using switches indicates the distance in binary for the current instruction while the direction of the current instruction is entered using the d-pad. The general purpose processor or GPP was developed in the Xilinx environment using VHDL and the schematic editor in order to create components and processes.
          <img src="images/project_thumbnails/PortfolioSite-01.png" alt="">
          <div class="titleBox">mpp ivan project</div>
        </div>
      </div>
      <div class="box">
        <div class="boxInner">
          <img src="images/project_thumbnails/PortfolioSite-02.png" alt="">
          <div class="titleBox">line following robot</div>
        </div>
      </div>
      <div class="box">
        <div class="boxInner">
          <img src="images/project_thumbnails/PortfolioSite-03.png" alt="">
          <div class="titleBox">mine sweeping robot</div>
        </div>
      </div>
      <!-- <div class="box">
          <div class="boxInner">
            <div class="titleBox">JAMhoops</div>
          </div>
        </div> -->
      <!-- <div class="box">
          <div class="boxInner">
            <div class="titleBox">colonial</div>
          </div>
        </div> -->
      <!-- <div class="box">
          <div class="boxInner">
            <div class="titleBox">phonofix</div>
          </div>
        </div> -->
      <div class="box">
        <div class="boxInner">
          <img src="images/project_thumbnails/PortfolioSite-04.png" alt="">
          <div class="titleBox">loomvr</div>
        </div>
      </div>
      <div class="box">
        <div class="boxInner">
          <img src="images/project_thumbnails/PortfolioSite-05.png" alt="">
          <div class="titleBox">pulse</div>
        </div>
      </div>
      <div class="box">
        <div class="boxInner">
          <img src="images/project_thumbnails/PortfolioSite-06.png" alt="">
          <div class="titleBox">luma</div>
        </div>
      </div>
      <!-- <div class="box">
          <div class="boxInner">
            <div class="titleBox">aaaid</div>
          </div>
        </div> -->
      <div class="box">
        <div class="boxInner">
          <img src="images/project_thumbnails/PortfolioSite-07.png" alt="">
          <div class="titleBox">say it hackathon</div>
        </div>
      </div>
      <div class="box">
        <div class="boxInner">
          <img src="images/project_thumbnails/PortfolioSite-08.png" alt="">
          <div class="titleBox">loomx</div>
        </div>
      </div>
      <div class="box">
        <div class="boxInner">
          <img src="images/project_thumbnails/PortfolioSite-09.png" alt="">
          <div class="titleBox">AVRE</div>
        </div>
      </div>

    </div>
  </div>
  <div id="section-about">

  </div>
  <div id="section-resume">
    <object type="application/pdf" data="images/Jesse_Pelzar_Resume-2018.docx.pdf" width="100%" height="800px">

      </object>
  </div>

</body>

</html>
